<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

{{ if or (.Site.Params.small_banner_logo) (.IsPage) }}
<div class="header column">
{{ else }}
<div class="header header-home column">
{{ end }}
    <div class="container">
        <a href="{{ .Site.BaseURL }}"><img class="logo" src="{{ .Site.Params.logofile | absURL }}" alt="logo" /></a>
        <div class="content">
            <a href="{{ .Site.BaseURL }}"><div class="name"><h1>{{ .Site.Title }}</h1></div></a>
            <nav>
                <ul>
                    {{ if ne (len (where .Site.RegularPages "Section" "blog")) 0 }}
                        <li><a href="{{ .Site.BaseURL }}blog/">Blog</a></li>
                    {{ end }}
                    {{ range $.Site.Home.Sections }}
                        {{ range first 1 (where .Pages "Section" "ne" "")}}
                            {{ if ne .Section "blog"}}
                            <li><a href="{{ .Section | urlize | absURL }}">{{ .Section }}</a></li>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    {{ range where .Site.RegularPages "Section" ""}}
                        {{ if and (ne .Title "License") (ne .Title "Home")}}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    {{ end }}
                    <li><a href="/cv/sinclair_cv2022.pdf">CV</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
