<li class="post-item">
    <span class="meta">{{ .Date.Format .Site.Params.dateform }}</span>
    <a href="{{ .Permalink }}"><span>{{ .Title }}</span></a>
    <span style="padding-left: 1em">{{ .Description }}</span>
</li>
